.apptodo {
    background: #rgb(253,250,251);
}

.clrtext {
    color:dimgrey ;
    font-size: small;
}
.bigbox {
    zoom: 0.75;
    transform: scale(1);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}


.apptodo_header p{
    color: rgb(228,228,228);
    font-size: 500%;
}
.btnsize button{
    color: dimgrey;
}


#out_added  {
    font-size: 20px;
}


.col-12 a{
    color: rgb(228,228,228);
    font-size: xx-small;
}
.col-12 a:hover{
    color: rebeccapurple;
    font-size: medium;
}


@media (max-width:350px) {
    .no-mobile {
        display: none;
    }
}

.col-lg-3 a{
    color: rgb(228,228,228);
    font-size: xx-small;
}



/*.out_added i:hover {*/
    /*color: rebeccapurple;*/
/*}*/
